#wrap{
    margin: 5%; 
    /* display: none; */
}

#wrap2{
    margin: 5%; 
    
}



.cajas{
    box-shadow: 5px 10px 8px 10px #888888;
}
#content{
    border: 1px solid black;
    width: 100%;
    height:500px;
    /* margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%; */
    
    
}
#selectContent{
    height:500px;
    width: 100%;
    /* margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%; */
    
    /* display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-end; */
    
}
#guardar{
    border: 1px solid black;
    padding: 1%;
    border-radius: 50px;
    width: fit-content;
    cursor: pointer;
    margin-top: 1%;
    background-color: aqua;
    box-shadow: 5px 10px 8px 10px #888888;
}

#guardar:hover{
    background-color: rgb(229, 255, 0);
}

#title{
   
    display: flex;
    justify-content: center;
}
.im{
    width: 200px;
}
.content2{
    border: 1px solid black;
    width: 100%;
    
}

.basura{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.cotiza{
    border: 1px solid black;
}


#imcard{
    height: 100%;
}

#resul{
    display: flex;
    flex-direction: row;
}
/*************************************************************************************/



.login>a, .register>a{
    align-self: center;
}

.login>img, .register>img{
    width: 50%;
    height: 50%;
    align-self: center;
}

#myModal{
    display: block;
    
   
   width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

   background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);


}

.modal-content{
    position: absolute;
    z-index: 200;
  padding: 20px;
    
    top: 50%; 
   left: 50%;
  
   width:fit-content;
   margin-left: -150px;
   margin-top: -150px;
}

.login{
    display: flex;
    flex-direction: column;
    width: 300px;
     height: 300px;
  }

  .register{
    display: flex;
    flex-direction: column;
    width: 300px;
     height: 300px;
  }

#emailL, #passL, #nameR, #emailR, #passR{
    margin: 5%;
}

#register{
    display: none;
}

  